<ion-view view-title="Tạo địa danh" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div id="map" style="height: 50%"></div>
    <div class="list" ng-if="!loading">
      <label class="item item-input">
        <input type="text" placeholder="Nhập tên địa điểm tại đây." ng-model="location.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Thông tin địa điểm" ng-model="location.info">
      </label>
      <button class="button button-full button-positive" ng-click="createLocation()">
        Gửi địa điểm
      </button>
    </div>

  </ion-content>
</ion-view>


<style>
  #map {
    width: 100%;
  }

  .scroll {
    height: 100%;
  }
</style>
