<ion-view view-title="Bài viết" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="list card" ng-if="ready" location-status-nav>

      <div class="item item-avatar" ui-sref="main-app.view-location-newfeed({locationId: s.location_id})">
        <img ng-src="{{$locationsCache.getLocation(s.location_id).avatar ? Api.getServerUrl() + '/uploads/avatar/' + $locationsCache.getLocation(s.location_id).avatar : '/img/location.png'}}">
        <h2 style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</h2>
        <p>{{s.created | timeAgo}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
      </div>
      <ul class="data-like">
        <li ng-click="likeButton(s)">
          <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
             style="color: red"></i>
        </li>
        <li ng-click="comment(s)">
          <i class="icon ion-ios-chatbubble-outline"> </i>
        </li>
      </ul>

      <div class="item item-body">
        <p style="margin: 0px; white-space: normal;">
          <span style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</span> <span
          filter-hashtag="s.text"></span>
        </p>

        <p style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ng-click="viewLiker(s)">
          <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
        </p>

        <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
          Xem tất cả {{s.comments.length}} bình luận
        </p>

        <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0"
           ng-repeat="c in s.comments | limitTo:2">
          <span style="color: blue" ng-if="!c.admin" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span>
          <span style="color: blue" ng-if="c.admin" >{{$locationsCache.getLocation(c.user_id).name}}</span> <span ng-click="comment(s)">{{c.text}}</span>
        </p>
      </div>

    </div>


  </ion-content>
</ion-view>
