.user-profile {
  margin: auto;
  height: 162px;
  background: #fff;
  border-radius: .3em;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 17px;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 96px;
  color: blue;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 0.35em;
  margin-left: 96px;
  width: 14em;
  color: #c0c5c5;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
  padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data-follow {
  border-top: 1px solid #EFE7E7;
  margin-top: 1em;
  height: 3.70em;
  background: white;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
  margin: 2px auto;
  padding: 7px;
  width: auto;
  padding-right: 23px;
  padding-left: 10px;
  display: table-cell;
  text-align: center;
}

.user-profile span {
  font-family: "varela round", sans-serif;
  color: gray;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}

ul.data-like {
  height: 36px;
  background: white;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}

.data-like li {
  font-size: 33px;
  width: auto;
  padding-top: 2px;
  padding-left: 13px;
  display: table-cell;
  text-align: center;
}





