<ion-view view-title="Tài Khoản">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-gear-a" ui-sref="main-app.setting"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content lazy-scroll>
    <div class="card">
      <div class="user-profile">
        <img class="avatar" ng-src="{{avatar}}" alt="Ash" />
        <div class="username">{{User.name}}</div>
        <div class="bio">
          @{{User.username}}
        </div>
        <div class="description">
          <a class="button button-outline button-small button-dark" style="width: 185px" ng-click="minifiedProfile()">Chỉnh sửa trang cá nhân</a>
        </div>
        <div class="row" style="text-align: center">
          <div class="col" ui-sref="main-app.view({type: 'follower'})">
            <span><b>{{$follower.getMyFollwer().length}}</b> <p style="font-size: 12px">người theo dõi</p></span>
          </div>
          <div class="col" ui-sref="main-app.view({type: 'follow'})">
            <span class="entypo-eye"><b>{{$follow.getMyFollower().length}}</b> <p style="font-size: 12px">đang theo dõi</p></span>
          </div>
          <div class="col">
            <span class="entypo-user"><b>{{statusLength}}</b> <p style="font-size: 12px">bài viết</p></span>
          </div>
        </div>
      </div>
    </div>


    <div class="list card" ng-repeat="s in status" ng-if="s.user_id == User._id" status-nav>
      <div class="item item-avatar" style="position: relative">
        <img auto-reload-image control="accountView.reloadImage" status="s" ng-click="goToProfile(s.user_id)">
        <h2 ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</h2>
        <p style="color: blue">{{$locationsCache.getLocation(s.location).name}}</p>
        <p style="position: absolute; right: 10px; top: 15px;">{{s.created | timeAgo}}</p>
      </div>

      <div class="item item-image" >
        <img ng-click="viewImage(s.image)" image-lazy-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-200">
      </div>
      <ul class="data-like">
        <li ng-click="likeButton(s)">
          <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
             style="color: red"></i>
        </li>
        <li ng-click="comment(s)">
          <i class="icon ion-ios-chatbubble-outline"> </i>
        </li>
        <li ng-if="User._id == s.user_id" ng-click="more(s)">
          <i class="icon ion-ios-more-outline"> </i>
        </li>
      </ul>

      <div class="item item-body">
        <p style="margin: 0px; white-space: normal;">
          <span style="color: blue" ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</span> <span filter-hashtag="s.text"></span>
        </p>
        <p  style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ui-sref="main-app.view({status_id: s._id, type: 'like'})">
          <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
        </p>
        <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
          Xem tất cả {{s.comments.length}} bình luận
        </p>
        <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0" ng-repeat="c in s.comments | limitTo:2">
          <span style="color: blue" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span> <span ng-click="comment(s)">{{c.text}}</span>
        </p>
    </div>

    </div>


  </ion-content>
</ion-view>
