<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
    <h1 class="title">Chỉnh sửa trang cá nhân</h1>
    <button class="button button-clear icon ion-ios-close-empty icon-left" ng-click="declineChange()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <div class="item item-thumbnail-left" ngf-select ngf-resize="{width: 355, height: 355, quality: 0.8}" ng-model="view.avatarClone">
        <img ng-src="{{(view.avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + view._id) :'https://graph.facebook.com/ ' + view.facebook_id + '/picture?type=large'}}" ng-if="!view.avatarClone">
        <img ngf-src="view.avatarClone" ng-if="view.avatarClone">
        <button class="button button-block button-positive button-outline button-small"> Đổi avatar</button>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Tên hiển thị </span>
        <input type="text" ng-model="view.name">
      </label>
      <button class="button button-block button-positive" ng-disabled="!isChanged()" ng-click="acceptChange()">Đồng ý</button>

    </div>
  </ion-content>
</ion-modal-view>
