<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list" ng-repeat="liker in listLiker" style="margin-bottom: 0px">
      <div class="item item-button-right item-avatar">
        <img ng-click="goToProfile(liker.user_id)" ng-src="{{($user.getUser(liker.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(liker.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(liker.user_id).facebook_id + '/picture?type=large'}}">
        <h2 ng-click="goToProfile(liker.user_id)" style="margin-top: 4px">{{$user.getUser(liker.user_id).username}}</h2>
        <button class="button button-outline button-balanced" style="font-size: 13px; margin-top: 6px;" ng-if="User._id != liker.user_id && !$follow.isFollowed(liker.user_id)" ng-click="follow(liker.user_id)">
          <i class="icon ion-plus"> Theo dõi</i>
        </button>

        <button class="button button-balanced" style="font-size: 13px; margin-top: 6px;" ng-if="User._id != liker.user_id && $follow.isFollowed(liker.user_id)" ng-click="unFollow(liker.user_id)">
          <i class="icon ion-checkmark-round"> Đang theo dõi</i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
