<ion-pane>
  <ion-tabs class="tabs-background-dark tabs-color-light">

    <ion-tab  icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/main-app/newfeed">
      <ion-nav-view name="newfeed"></ion-nav-view>
    </ion-tab>


    <ion-tab  badge="$notifications.getCountNoti()" ng-click="seenNoti()" badge-style="badge-assertive" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications">
      <ion-nav-view name="notification"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-social-instagram-outline" icon-on="ion-social-instagram" ui-sref="main-app.upload-image">
      <ion-nav-view name="upload-image"></ion-nav-view>
    </ion-tab>


    <ion-tab  icon-off="ion-ios-chatboxes-outline" badge="$chatSessions.countNotiMessage()" badge-style="badge-assertive" icon-on="ion-ios-chatboxes" href="#/main-app/message">
      <ion-nav-view name="message"></ion-nav-view>
    </ion-tab>

    <ion-tab  icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/main-app/account">
      <ion-nav-view name="account"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-pane>

