.image-suggest {
  position: absolute;
  left: 0px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name-suggest {
  margin-left: 18px;
  margin-top: 5px;
}

