<ion-view view-title="Bảng Tin">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-search" ui-sref="main-app.search"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content lazy-scroll>
    <div class="list card" ng-repeat="s in status | orderBy: '-created'">
      <div ng-if="!s.isPostOfLocation && !s.ads" status-nav>
        <div class="item item-avatar" style="position: relative">
          <img auto-reload-image control="accountView.reloadImage" status="s" ng-click="goToProfile(s.user_id)">
          <h2 ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</h2>
          <p style="color: blue" ui-sref="main-app.view-location-newfeed({locationId: s.location})">{{$locationsCache.getLocation(s.location).name}}</p>
          <p style="position: absolute; right: 10px; top: 15px;">{{s.created | timeAgo}}</p>
        </div>

        <div class="item item-image">
          <img image-lazy-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}" ng-click="viewImage(s.image)"  image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-200">
        </div>
        <ul class="data-like">
          <li ng-click="likeButton(s)">
            <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
               style="color: red"></i>
          </li>
          <li ng-click="comment(s)">
            <i class="icon ion-ios-chatbubble-outline"> </i>
          </li>
          <li ng-if="User._id == s.user_id" ng-click="more(s)">
            <i class="icon ion-ios-more-outline"> </i>
          </li>
        </ul>

        <div class="item item-body">
          <p style="margin: 0px; white-space: normal;">
            <span style="color: blue" ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</span> <span filter-hashtag="s.text"></span>
          </p>
          <p  style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ui-sref="main-app.view-liker({status_id: s._id})">
            <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
          </p>
          <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
            Xem tất cả {{s.comments.length}} bình luận
          </p>
          <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0" ng-repeat="c in s.comments | limitTo:2">
            <span style="color: blue" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span> <span ng-click="comment(s)">{{c.text}}</span>
          </p>
        </div>
      </div>

      <div ng-if="s.isPostOfLocation" location-status-nav>
        <div class="item item-avatar" ui-sref="main-app.view-location-newfeed({locationId: s.location_id})">
          <img ng-src="{{$locationsCache.getLocation(s.location_id).avatar ? Api.getServerUrl() + '/uploads/avatar/' + $locationsCache.getLocation(s.location_id).avatar : '/img/location.png'}}">
          <h2 style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</h2>
          <p>{{s.created | timeAgo}}</p>
        </div>

        <div class="item item-image">
          <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
        </div>
        <ul class="data-like">
          <li ng-click="likeButton(s)">
            <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
               style="color: red"></i>
          </li>
          <li ng-click="comment(s)">
            <i class="icon ion-ios-chatbubble-outline"> </i>
          </li>
        </ul>

        <div class="item item-body">
          <p style="margin: 0px; white-space: normal;">
            <span style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</span> <span
            filter-hashtag="s.text"></span>
          </p>

          <p style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ng-click="viewLiker(s)">
            <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
          </p>

          <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
            Xem tất cả {{s.comments.length}} bình luận
          </p>

          <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0"
             ng-repeat="c in s.comments | limitTo:2">
            <span style="color: blue" ng-if="!c.admin" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span>
            <span style="color: blue" ng-if="c.admin" >{{$locationsCache.getLocation(c.user_id).name}}</span> <span ng-click="comment(s)">{{c.text}}</span>
          </p>
        </div>

      </div>

      <div ng-if="s.ads">
        <div class="item item-avatar" ui-sref="main-app.view-location-newfeed({locationId: s.location_id})">
          <img ng-src="{{$locationsCache.getLocation(s.location_id).avatar ? Api.getServerUrl() + '/uploads/avatar/' + $locationsCache.getLocation(s.location_id).avatar : '/img/location.png'}}">
          <h2 style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</h2>
          <p>Đề xuất cho bạn</p>
        </div>

        <div class="item item-image" ui-sref="main-app.view-ads-location({status_id: s._id})">
          <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
        </div>

        <div class="item item-body">
          <p style="margin: 0px; white-space: normal;">
            <span style="color: blue">{{$locationsCache.getLocation(s.location_id).name}}</span> <span
            filter-hashtag="s.text"></span>
          </p>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
