<ion-view view-title="Duyệt địa danh" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card" ng-repeat="location in locationCheck | orderBy: '-info.created'" ng-click="toggleAction(location)">
      <div class="item item-divider">
        {{location.info.name}} - <span style="color: green" ng-if="location.info.status == 'requesting'">Đang chờ</span>
        <span style="color: red" ng-if="location.info.status == 'decline'">Bị từ chối</span>
      </div>
      <div class="item item-text-wrap">
        {{location.info.info}}
        <br>
        Tạo bởi: <b>{{$user.getUser(location.info.owned).name}}</b>
        <br>
        <span ng-repeat="nearLocation in location.nearlyLocation" style="color: red;">
          Cách: <b>{{$locationsCache.getLocation(nearLocation.location_id).name}}</b> {{nearLocation.distance | number:2}} km
          <br>
        </span>
      </div>
      <div class="item item-text-wrap" ng-if="location.info.status == 'decline'">
        Từ chối bởi lý do: <b>{{location.info.reason}}</b>
      </div>
    </div>
  </ion-content>
</ion-view>
