<ion-view>
  <ion-content scroll="false">
      <div class="form-login">
          <div class="wrapper">
              <div class="container">
                  <h1>Keep Your Moments</h1>

                  <form class="form">
                      <input type="text" placeholder="Username" ng-model="user.user_name">
                      <input type="password" placeholder="Password" ng-model="user.password">
                      <button type="submit" class="button-login" ng-click="loginNormal()" ng-disabled="!user.user_name || !user.password">Đăng nhập</button>
                      <p style="margin-top: 10px" ng-click="loginFacebook()"></i> Đăng nhập bằng <b><i class="ion-social-facebook-outline"></i></b></p>
                      <!--<p style="margin-top: 10px" ng-click="configApi()"> Đổi IP sv</p>-->
                  </form>
              </div>
            <ul class="bg-bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

          </div>
      </div>

  </ion-content>


</ion-view>
