<ion-view view-title="{{location.name}}" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div id="map" style="height: 30%"></div>
    <div class="list card">


      <div class="item item-thumbnail-left">
        <img ng-src="{{location.avatar ? Api.getServerUrl() + '/uploads/avatar/' + location.avatar : '/img/location.png'}}">
        <h2>{{location.name}}</h2>
        <button class="button button-small button-balanced " ng-class="isFollow() ? '' : 'button-outline'" style="width: 100%" ng-click="toggleFollow()">
          <i class="icon" ng-class="isFollow() ? 'ion-checkmark-round' : 'ion-plus-round'"></i>
          {{isFollow() ? 'Đang theo dõi' : 'Theo dõi'}}
        </button>
      </div>

      <div class="row" style="text-align: center">
        <div class="col">
          <span class="entypo-eye"><b style="color: blue; font-size: 30px">{{getAvgRating()}} <i class="icon ion-star"></i></b> <p style="font-size: 12px">{{location.rating.length}} lượt bình chọn</p></span>
        </div>
        <div class="col" ng-click="viewFollower()">
          <span class="entypo-user"><b style="font-size: 30px; color: red">{{follower.length}} <i class="icon ion-heart"></i></b> <p style="font-size: 12px">người theo dõi</p></span>
        </div>
        <div class="col">
          <span class="entypo-user"><b style="font-size: 30px; color: orange">{{locationPosts.length + userPosts.length}} <i class="icon ion-plane"></i></b> <p style="font-size: 12px">bài viết tại đây</p></span>
        </div>
      </div>

      <div class="item item-text-wrap" style="text-align: center" ng-if="location.canRate">
        <b>Giúp chúng tôi đánh giá địa điểm này</b>
        <rating ng-model="view.myRating" max="5" ></rating>
        <button class="button button-full button-positive" ng-click="rateLocation()">
          Đánh giá
        </button>
      </div>
      <div class="item item-divider">
        Giới thiệu
      </div>
      <div class="item item-text-wrap">
        {{location.info ? location.info : 'Chưa có lời giới thiệu nào về địa điểm này.'}}
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input item-select">
          <div class="input-label">
            Hiển thị theo
          </div>
          <select ng-options="op for op in options" ng-model="selected"></select>
        </label>

      </div>
    </div>

    <div class="list card" ng-repeat="s in locationPosts" ng-if="selected == 'Bài đăng của địa điểm'" location-status-nav>
      <div class="item item-avatar">
        <img ng-src="{{location.avatar ? Api.getServerUrl() + '/uploads/avatar/' + location.avatar : '/img/location.png'}}">
        <h2 style="color: blue">{{location.name}}</h2>
        <p>{{s.created | timeAgo}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
      </div>
      <ul class="data-like">
        <li ng-click="likeButton(s)">
          <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
             style="color: red"></i>
        </li>
        <li ng-click="comment(s)">
          <i class="icon ion-ios-chatbubble-outline"> </i>
        </li>
      </ul>

      <div class="item item-body">
        <p style="margin: 0px; white-space: normal;">
          <span style="color: blue">{{location.name}}</span> <span
          filter-hashtag="s.text"></span>
        </p>

        <p style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ng-click="viewLiker(s)">
          <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
        </p>

        <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
          Xem tất cả {{s.comments.length}} bình luận
        </p>

        <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0"
           ng-repeat="c in s.comments | limitTo:2">
          <span style="color: blue" ng-if="!c.admin" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span>
          <span style="color: blue" ng-if="c.admin" >{{$locationsCache.getLocation(c.user_id).name}}</span> <span ng-click="comment(s)">{{c.text}}</span>
        </p>
      </div>

    </div>

    <div class="list card" ng-repeat="s in userPosts" ng-if="selected == 'Bài đăng của người dùng'" status-nav-without-socket>

      <div class="item item-text-wrap" ng-if="$index == 0">
        <label class="item item-input item-select">
          <div class="input-label">
            Sắp xếp theo
          </div>
          <select ng-options="op for op in optionsSort" ng-model="view.selectedSort"></select>
        </label>

      </div>
      <div class="item item-avatar" style="position: relative">
        <img ng-src="{{($user.getUser(s.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(s.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(s.user_id).facebook_id + '/picture?type=large'}}">
        <h2 ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</h2>
        <p style="color: blue">{{$locationsCache.getLocation(s.location).name}}</p>
        <p style="position: absolute; right: 10px; top: 15px;">{{s.created | timeAgo}}</p>
      </div>

      <div class="item item-image" on-double-tap="like(s)">
        <img ng-click="viewImage(s.image)" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
      </div>
      <ul class="data-like">
        <li ng-click="likeButton(s)">
          <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
             style="color: red"></i>
        </li>
        <li ng-click="comment(s)">
          <i class="icon ion-ios-chatbubble-outline"> </i>
        </li>
      </ul>

      <div class="item item-body">
        <p style="margin: 0px; white-space: normal;">
          <span style="color: blue" ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</span> <span filter-hashtag="s.text"></span>
        </p>
        <p  style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ng-click="viewLiker(s)">
          <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
        </p>
        <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
          Xem tất cả {{s.comments.length}} bình luận
        </p>
        <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0" ng-repeat="c in s.comments | limitTo:2">
          <span style="color: blue" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span> <span ng-click="comment(s)">{{c.text}}</span>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>


<style>
  ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 5px 10px;
  }
  ul.rating li i {
    font-size: 30px;
  }
  #map {
    width: 100%;
  }

  .scroll {
    height: 100%;
  }
</style>
