<ion-view view-title="Đăng Ảnh" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">

      <div  ngf-select
            ngf-resize="{width: 355, height: 355, quality: 0.8}"
            ng-model="view.imageUpload"
            accept="image/*"
        >
        <div class="item item-image">
          <img src="img/kite.jpg" ng-if="!view.imageUpload">
          <img ngf-src="view.imageUpload" ng-if="view.imageUpload">
        </div>
      </div>

      <a class="item item-icon-left assertive" href="" ng-click="uploadImage()">
        <i class="icon " ng-class="view.imageUpload ? 'ion-arrow-right-b' : 'ion-plus'"> </i>
        {{view.imageUpload ? 'Sử dụng bộ lọc' : 'Nhấn vào hình ảnh để upload'}}
      </a>

      <a class="item item-icon-left assertive" href="" ng-click="useOriginImage()" ng-if="view.imageUpload">
        <i class="icon ion-ios-circle-filled"></i>
        Sử dụng ảnh gốc.
      </a>

    </div>

  </ion-content>
</ion-view>
