<ion-view>
  <ion-header-bar class="bar-balanced item-input-inset" align-title="center">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Tìm kiếm" ng-model="keyword" focus-me>
    </label>
    <button class="button button-clear" ng-click="goBack()">
      Hủy
    </button>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Tìm kiếm theo
      </div>
      <select ng-options="item as item.name for item in FilterSearch" ng-model="selected">
      </select>
    </label>

    <div class="list" ng-if="selected.name == 'Tên người dùng'" ng-repeat="user in userSearched" style="margin-bottom: 0px">
      <a class="item item-avatar" ng-click="goToProfile(user._id)">
        <img ng-src="{{(user.avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + user.avatar_url) :'https://graph.facebook.com/ ' + user.facebook_id + '/picture?type=large'}}">
        <h2>{{user.username}}</h2>
        <p>{{user.name}}</p>
      </a>
    </div>

    <div class="list" ng-if="selected.name == 'HashTag'" ng-repeat="tag in tagSearched" style="margin-bottom: 0px">
      <a class="item item-avatar" ng-click="goStatusSearched(tag.name)">
        <img src="img/hashtag.png">
        <b>{{tag.name}}</b>
        <p>{{tag.times}} bài viết</p>
      </a>
    </div>

    <div class="list" ng-if="selected.name == 'Địa danh'" ng-repeat="location in locationSearched" style="margin-bottom: 0px">
      <a class="item item-avatar" ui-sref="main-app.view-location-newfeed({locationId: location._id})">
        <img ng-src="{{$locationsCache.getLocation(location._id).avatar ? Api.getServerUrl() + '/uploads/avatar/' + $locationsCache.getLocation(location._id).avatar : '/img/location.png'}}">
        <b>{{location.name}}</b>
        <p>{{location.info}}</p>
      </a>
    </div>

    <p ng-if="loading" style="text-align: center; margin-top: 10px">
      <ion-spinner icon="android"></ion-spinner>
    </p>
    <div ng-if="!loading && keyword">
      <b style="padding: 10px" ng-if="tagSearched.length == 0 && selected.name == 'HashTag'" > Không có kết quả phù hợp</b>
      <b style="padding: 10px" ng-if="userSearched.length == 0 && selected.name == 'Tên người dùng'"> Không có kết quả phù hợp</b>
      <b style="padding: 10px" ng-if="locationSearched.length == 0 && selected.name == 'Địa danh'"> Không có kết quả phù hợp</b>
    </div>

  </ion-content>
</ion-view>
