<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-log-out" ng-click="logout()"> Đăng xuất</button>
    </ion-nav-buttons>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left">
        <img ng-src="{{'https://graph.facebook.com/ ' + User.facebook_id + '/picture?type=large'}}">
        <h2>{{User.name}}</h2>
        <p><b>Email: </b> {{User.email}}</p>
      </a>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Có thể sử dụng nick name này để đăng nhập" ng-model="user.user_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mật Khẩu</span>
        <input type="password" placeholder="Mật Khẩu" ng-model="user.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nhập lại mật khẩu </span>
        <input type="password" placeholder="Nhập lại mật khẩu" ng-model="user.re_password">
      </label>
      <button class="button button-block button-calm" ng-click="createUserName()" ng-disabled="!user.user_name || !user.password">
        Đồng ý
      </button>

    </div>
  </ion-content>
</ion-view>
