<ion-view view-title="Thông Báo" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list" ng-repeat="noti in notifications | orderBy : '-created'" style="margin-bottom: 0px">
      <div class="item item-avatar" ng-if="noti.type == 'like'">
        <img ui-sref="main-app.user-view({userID: noti.owned})" ng-src="{{($user.getUser(noti.owned).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(noti.owned).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(noti.owned).facebook_id + '/picture?type=large'}}">
        <div class="row">
          <div class="col-70">
            <p style="white-space: normal;"><span style="color:blue" ui-sref="main-app.user-view({userID: noti.owned})">@{{$user.getUser(noti.owned).username}}</span> đã thích hình ảnh của bạn</p>
          </div>
          <div class="col-20" ui-sref="main-app.notification-status-view({type: 'like', status_id: noti.params.status_id})">
            <img style="width: 45px; height: 45px;" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + $statusCache.getStatus(noti.params.status_id).image}}" >
          </div>
        </div>
        <p>{{noti.created | timeAgo}}</p>
      </div>

      <div class="item item-avatar" ng-if="noti.type == 'tag-image'">
        <img ui-sref="main-app.user-view({userID: noti.owned})" ng-src="{{($user.getUser(noti.owned).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(noti.owned).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(noti.owned).facebook_id + '/picture?type=large'}}">
        <div class="row">
          <div class="col-70">
            <p style="white-space: normal;"><span style="color:blue" ui-sref="main-app.user-view({userID: noti.owned})">@{{$user.getUser(noti.owned).username}}</span> đã gắn thẻ bạn trong một hình ảnh</p>
          </div>
          <div class="col-20" ui-sref="main-app.notification-status-view({type: 'like', status_id: noti.params.status_id})">
            <img style="width: 45px; height: 45px;" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + $statusCache.getStatus(noti.params.status_id).image}}" >
          </div>
        </div>
        <p>{{noti.created | timeAgo}}</p>
      </div>

      <div class="item item-avatar" ng-if="noti.type == 'comment'">
        <img ng-src="{{($user.getUser(noti.owned).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(noti.owned).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(noti.owned).facebook_id + '/picture?type=large'}}">
        <div class="row">
          <div class="col-70">
            <p style="white-space: normal;"><span style="color:blue" ui-sref="main-app.user-view({userID: noti.owned})">@{{$user.getUser(noti.owned).username}}</span> {{$status.isMyStatus(noti.params.status_id) == -1 ? 'đã bình luận ảnh của anh ấy': 'đã bình luận về ảnh của bạn'}}</p> </div>
          <div class="col-20" ui-sref="main-app.notification-status-view({type: 'comment', status_id: noti.params.status_id})">
            <img style="width: 45px; height: 45px;" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + $statusCache.getStatus(noti.params.status_id).image}}" >
          </div>
        </div>
        <p>{{noti.created | timeAgo}}</p>
      </div>

      <div class="item item-avatar" ng-if="noti.type == 'follow'">
        <img ui-sref="main-app.user-view({userID: noti.owned})" ng-src="{{($user.getUser(noti.owned).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(noti.owned).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(noti.owned).facebook_id + '/picture?type=large'}}">
        <div class="row">
          <div class="col-70">
            <p style="white-space: normal;"><span style="color:blue" ui-sref="main-app.user-view({userID: noti.owned})">@{{$user.getUser(noti.owned).username}}</span> đã bắt đầu theo dõi bạn</p> </div>
          <div class="col-20">
            <button class="button button-small button-outline button-balanced" style="width: 43px" ng-show="!$follow.isFollowed(noti.owned)" ng-click="follow(noti.owned)">
              <i class="ion-android-person-add"></i>
            </button>
            <button class="button button-small button-balanced" style="width: 43px" ng-show="$follow.isFollowed(noti.owned)" ng-click="unFollow(noti.owned)">
              <i class="icon button-small ion-person-stalker"></i>
            </button>
          </div>
        </div>
        <p>{{noti.created | timeAgo}}</p>
      </div>

      <div class="item item-avatar" ng-if="noti.type == 'new-account'">
        <img ui-sref="main-app.user-view({userID: noti.owned})" ng-src="{{($user.getUser(noti.owned).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(noti.owned).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(noti.owned).facebook_id + '/picture?type=large'}}">
        <div class="row">
          <div class="col-70">
            <p style="white-space: normal;">Bạn bè trên facebook {{$user.getUser(noti.owned).name}} của bạn đang sử dụng KeepYourMoments với tên <span style="color:blue" ui-sref="main-app.user-view({userID: noti.owned})">@{{$user.getUser(noti.owned).username}}</span> </p> </div>
          <div class="col-20">
            <button class="button button-small button-outline button-balanced" style="width: 43px" ng-show="!$follow.isFollowed(noti.owned)" ng-click="follow(noti.owned)">
              <i class="ion-android-person-add"></i>
            </button>
            <button class="button button-small button-balanced" style="width: 43px" ng-show="$follow.isFollowed(noti.owned)" ng-click="unFollow(noti.owned)">
              <i class="icon button-small ion-person-stalker"></i>
            </button>
          </div>
        </div>
        <p>{{noti.created | timeAgo}}</p>
      </div>


      <div class="item item-avatar" ng-if="noti.type == 'noti-location'">
        <img src="img/location.png">
        <p style="white-space: normal;"> {{noti.params.text}} </p>
        <p>{{noti.created | timeAgo}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
