<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
    <h1 class="title">Cài đặt URL server</h1>
    <button class="button button-clear icon ion-ios-close-empty icon-left" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="IP add" ng-model="view.api">
      </label>
      <button class="button button-full button-positive" ng-click="saveAddress()">
        Đổi
      </button>
    </div>
  </ion-content>
</ion-modal-view>
