<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list" ng-repeat="user in listUserView" style="margin-bottom: 0px">
      <div class="item item-button-right item-avatar">
        <img ng-click="goToProfile(getUserID(user))" ng-src="{{getAvatarUrl(user)}}">
        <h2 ng-click="goToProfile(getUserID(user))" style="margin-top: 4px">{{$user.getUser(getUserID(user)).username}}</h2>
        <button class="button button-outline button-balanced" style="font-size: 13px; margin-top: 6px;" ng-if="User._id != getUserID(user) && !$follow.isFollowed(getUserID(user))" ng-click="follow(getUserID(user))">
          <i class="icon ion-plus"> Theo dõi</i>
        </button>

        <button class="button button-balanced" style="font-size: 13px; margin-top: 6px;" ng-if="User._id != getUserID(user) && $follow.isFollowed(getUserID(user))" ng-click="unFollow(getUserID(user))">
          <i class="icon ion-checkmark-round"> Đang theo dõi</i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
