<ion-view view-title="{{tagName}}" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="list card" ng-repeat="s in status | orderBy: '-created'" status-nav-without-socket>
      <div class="item item-avatar" style="position: relative">
        <img ng-src="{{($user.getUser(s.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(s.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(s.user_id).facebook_id + '/picture?type=large'}}">
        <h2 ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</h2>
        <p style="color: blue">{{$locationsCache.getLocation(s.location).name}}</p>
        <p style="position: absolute; right: 10px; top: 15px;">{{s.created | timeAgo}}</p>
      </div>

      <div class="item item-image" on-double-tap="like(s)">
        <img ng-click="viewImage(s.image)" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + s.image}}">
      </div>
      <ul class="data-like">
        <li ng-click="likeButton(s)">
          <i class="icon " ng-class="isLike(s) == -1 ? 'ion-ios-heart-outline' : 'ion-ios-heart'"
             style="color: red"></i>
        </li>
        <li ng-click="comment(s)">
          <i class="icon ion-ios-chatbubble-outline"> </i>
        </li>
      </ul>

      <div class="item item-body">
        <p style="margin: 0px; white-space: normal;">
          <span style="color: blue" ng-click="goToProfile(s.user_id)">{{$user.getUser(s.user_id).username}}</span> <span filter-hashtag="s.text"></span>
        </p>
        <p  style="color: blue;font-size: 14px;margin: 0px;" ng-if="s.likes.length > 0" ui-sref="main-app.view-follow-newfeed({ type: 'like', view_id: s._id})">
          <i class="icon ion-ios-heart"> </i> {{s.likes.length}} lượt thích
        </p>
        <p ng-click="comment(s)" style="color: black;font-size: 14px;margin: 0px;" ng-if="s.comments.length > 2">
          Xem tất cả {{s.comments.length}} bình luận
        </p>
        <p style="color: gray;font-size: 14px;margin: 0px; white-space: normal;" ng-if="s.comments.length > 0" ng-repeat="c in s.comments | limitTo:2">
          <span style="color: blue" ng-click="goToProfile(c.user_id)">{{$user.getUser(c.user_id).username}}</span> <span ng-click="comment(s)">{{c.text}}</span>
        </p>
      </div>
    </div>


  </ion-content>
</ion-view>
