<ion-view view-title="Bộ Lọc" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">

      <button class="button button-clear no-animation" ng-click="next()">
        Tiếp tục
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-slide-box>
      <ion-slide ng-repeat="image in images">
        <div class="list card">
          <div class="item item-image">
            <img ng-src="{{image.src}}">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>


</ion-view>
