<ion-view view-title="{{getTitleMessage()}}" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content delegate-handle="userMessageScroll"  has-bouncing="true" class="has-header has-footer">
    <div ng-repeat="message in session.messages | orderBy:'created'" class="message-wrapper">
      <div ng-if="message.user_id != User._id">
        <img class="profile-pic left" ng-if="displayAvatar($index)" ng-click="goToProfile(message.user_id)" ng-src="{{($user.getUser(message.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(message.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(message.user_id).facebook_id + '/picture?type=large'}}" />
        <div class="chat-bubble left">
          <div class="message">
            {{message.text}}
          </div>
          <div class="message-detail">
            <span>{{message.created | timeAgo}}</span>
          </div>
        </div>
      </div>
      <div ng-if="message.user_id == User._id">
        <img class="profile-pic right" ng-if="displayAvatar($index)" ng-click="goToProfile(message.user_id)" ng-src="{{($user.getUser(message.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(message.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(message.user_id).facebook_id + '/picture?type=large'}}" />
        <div class="chat-bubble right">
          <div class="message">
            {{message.text}}
          </div>
          <div class="message-detail">
            <span>{{message.created | timeAgo}}</span>
          </div>
        </div>
      </div>
      <div class="cf"></div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset message-footer modal-comment" keyboard-attach>
    <label class="item-input-wrapper">
      <textarea style="width: 100%" ng-click="seenSession()" placeholder="Gửi tin nhắn..." required minlength="1" maxlength="1500" ng-model="messageText" msd-elastic></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!messageText" ng-click="sendMessage()">
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
