<ion-view view-title="Quản lý" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Địa danh
      </div>
      <a class="item item-icon-left" ng-if="User.admin" ui-sref="main-app.check-location">
        <i class="icon ion-android-checkbox-outline"></i>
        Duyệt địa danh
        <span class="badge badge-assertive" ng-if="checkLocationRequest() > 0">{{checkLocationRequest()}}</span>

      </a>
      <a class="item item-icon-left" ng-if="User.admin" ui-sref="main-app.statistic-location">
        <i class="icon ion-stats-bars"></i>
        Thống kê địa danh
      </a>
      <a class="item item-icon-left" ui-sref="main-app.create-location">
        <i class="icon ion-map"></i>
        Tạo địa danh
      </a>
      <a class="item item-icon-left" ng-repeat="location in $locations.getLocations()">
        <div ui-sref="main-app.view-location({location_id : location._id})">
          <i class="icon ion-location"></i>
          {{location.name}}
        </div>
      </a>
      <div class="item item-divider">
        Tài khoản
      </div>
      <a class="item item-icon-left" ng-click="logout()">
        <i class="icon ion-log-out"></i>
        Đăng xuất
      </a>
    </div>


  </ion-content>
</ion-view>


