<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <ion-header-bar class="bar bar-header transparent" align-title="center">
    <h1 class="title"></h1>
    <button class="button button-clear item-button-right" style="color: white" ng-click="closeModal()"> Xong
    </button>
  </ion-header-bar>
  <ion-pane class="transparent" style="position: relative" detect-face>
    <img id="img" ng-src="{{Api.getServerUrl() + '/uploads/image-draft/'+ User._id + '_' + status.image + '.png'}}"
         class="fullscreen-image"/>

    <div class="box-image-face" ng-repeat="face in faces" ng-style="getStyle(face)" ng-click="openEditFace(face)">
      <div ng-if="face.isOpen || face.faceName">
        <input class="box-image-face-name" ng-model="face.faceName" placeholder="Viết tên ai đó.." ng-change="searchedUser(face)">
        </input>

        <div class="list box-image-suggest-people"
             style="margin-bottom: 0px; min-height: 0px">
          <a class="item item-avatar" ng-repeat="user in face.userSearched" ng-click="addUser(user, face)">
            <img
              ng-src="{{(user.avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + user.avatar_url) :'https://graph.facebook.com/ ' + user.facebook_id + '/picture?type=large'}}">
            <h2>{{user.username}}</h2>
          </a>
        </div>
      </div>

    </div>
  </ion-pane>
</div>
