<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
    <h1 class="title">Thêm địa điểm</h1>
    <button class="button button-clear item-button-left" ng-click="modalLocation.hide()">Đóng</button>

  </ion-header-bar>
  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="view.keyword">
    </label>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <li class="item" ng-click="addLocation(location)" ng-repeat="location in locationSearched">{{location.name}}</li>
    </div>
  </ion-content>
</ion-modal-view>
