<ion-view view-title="Chia sẻ" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content has-bouncing="true">
    <div class="list">
      <div class="item item-thumbnail-left">
        <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/'+ User._id + '_' + status.image + '.png?' + randomNumber }}">
        <label class="item item-input large">
          <textarea placeholder="Bức ảnh nói về điều gì?" ng-model="status.text" focus-me style="height: 70px;"></textarea>
        </label>
      </div>

      <!--<a class="item item-icon-left" ng-click="viewTagsImage()">-->
        <!--<i class="icon ion-pricetags"></i>-->
        <!--Gắn thẻ ảnh-->
      <!--</a>-->

      <label class="item item-input item-select" ng-if="locations">
        <div class="input-label">
          <i class="icon ion-location"></i> Tại
        </div>
        <select ng-options="location as location.info.name for location in locations" ng-model="view.locationSuggested">
        </select>
      </label>

      <a class="item" href="" ng-click="changeLocation()">
        <i class="icon ion-edit"></i> Chỉnh sửa địa điểm
      </a>


      <ion-list>
        <ion-checkbox ng-model="selection.ids.myProfile">Chia sẻ trên trang cá nhân</ion-checkbox>
        <ion-checkbox ng-repeat="page in $locations.getLocations()" ng-model="selection.ids[page._id]">Chia sẻ trên {{page.name}}</ion-checkbox>
      </ion-list>

      <a class="item item-icon-left" ng-click="postStatus()" ng-if="isSelected()">
        <i class="icon ion-android-share"></i>
        Chia sẻ
      </a>

    </div>
  </ion-content>

</ion-view>
