.statistic-location-table {
  padding: 10px;
  margin: 10px;
}
.statistic-location-table .statistic-location-title {
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}
.statistic-location-table .statistic-location-header {
  color: blue;
  padding: 5px;
  font-size: 17px;
}
.statistic-location-table .statistic-location-row {
  border-bottom: 1px solid black;
}
.statistic-location-table .statistic-location-row .statistic-location-table-head p {
  font-weight: bold;
}
