<ion-view view-title="Thống kê địa danh" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="statistic-location-table">
      <div class="statistic-location-title">Các địa danh trên hệ thống</div>

      <div ng-repeat="location in locations | orderBy: '-totalFollow'" ui-sref="main-app.view-location-newfeed({locationId: location._id})">
        <div class="statistic-location-header">
          {{location.name}}
        </div>
        <div class="row statistic-location-row">
          <div class="col-33 statistic-location-table-head">
            <p>Thời gian tạo</p>
            {{location.created | date: 'dd/MM/yy'}}
          </div>
          <div class="col-33 statistic-location-table-head">
            <p>Tổng theo dõi</p>
            {{location.totalFollow}}
          </div>
          <div class="col-33 statistic-location-table-head">
            <p>Đánh giá</p>
            {{getAvg(location.ratings)}}/{{location.ratings.length}}
          </div>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>


