<ion-view view-title="Tin Nhắn" cache-view="false">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-add" ng-click="newMessage()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-item class="list" style="position: relative; margin-bottom: -1px; padding-right: 0px;" ng-repeat="session in sessions | orderBy: sortByTime ">
      <a class="item item-avatar" href="" ng-click="goToSession(session)" ui-sref="main-app.message-view({session_id : session._id})">
        <img ng-src="{{($user.getUser(getUserInSession(session)).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(getUserInSession(session)).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(getUserInSession(session)).facebook_id + '/picture?type=large'}}">
        <h2>{{$user.getUser(getUserInSession(session)).username}}</h2>
        <p ng-class="isSeenSession(session) ? '' : 'bold'">{{session.messages[session.messages.length - 1].text}}</p>
        <p style="position: absolute;top: 16px;right: 4px;">{{session.messages[session.messages.length - 1].created | timeAgo}}</p>
      </a>
    </ion-item>

  </ion-content>
</ion-view>
