<ion-modal-view>
  <ion-header-bar class="bar-balanced item-input-inset" align-title="center">
    <h1 class="title">Tin nhắn mới</h1>
    <button class="button button-clear" ng-click="modal.hide()">
      Xong
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <input type="search" placeholder="Tới" ng-model="view.keyword">
      </label>
    </div>
    <div class="list" ng-repeat="user in view.userSearched" style="margin-bottom: 0px">
      <a ng-click="addUser(user)" class="item item-button-right item-avatar">
        <img ng-src="{{($user.getUser(user._id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(user._id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(user._id).facebook_id + '/picture?type=large'}}">
        <h2 ng-click="goToProfile(user._id)" style="margin-top: 4px">{{$user.getUser(user._id).username}}</h2>
      </a>
    </div>
    <div class="list" ng-if="view.usersSend">
      <div class="item item-icon-left">
        <i class="icon ion-forward"></i>
        <span style="color: blue" >{{view.usersSend.username}}</span>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar  ng-if="view.usersSend" class="bar-stable item-input-inset message-footer modal-comment" keyboard-attach>
      <label class="item-input-wrapper">
        <textarea style="width: 100%" placeholder="Gửi bình luận..." required minlength="1" maxlength="1500" ng-model="view.messageText" msd-elastic focus-me></textarea>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!view.messageText" ng-click="sendMessage()">
        </button>
      </div>
  </ion-footer-bar>
</ion-modal-view>
