<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
    <h1 class="title">Bình luận</h1>
    <button class="button button-clear item-button-left" ng-click="modalComment.hide()">Đóng</button>

  </ion-header-bar>
  <ion-content  delegate-handle="commentScroll">
    <ion-list class="list">
      <ion-item class="item item-avatar" style="position: relative" ng-repeat="comment in s.comments | orderBy: '-created'">
        <img ng-if="!comment.admin" ng-click="goToProfile(comment.user_id)" ng-src="{{($user.getUser(comment.user_id).avatar) ?  (Api.getServerUrl() + '/uploads/avatar/' + $user.getUser(comment.user_id).avatar_url) :'https://graph.facebook.com/ ' + $user.getUser(comment.user_id).facebook_id + '/picture?type=large'}}">
        <h2 style="color: blue" ng-if="!comment.admin">{{$user.getUser(comment.user_id).username}}</h2>
        <img ng-if="comment.admin" ng-src="{{$locationsCache.getLocation(comment.user_id).avatar ? Api.getServerUrl() + '/uploads/avatar/' + $locationsCache.getLocation(comment.user_id).avatar : '/img/location.png'}}">
        <h2 style="color: blue" ng-if="comment.admin">{{$locationsCache.getLocation(comment.user_id).name}}</h2>
        <p style="white-space: normal;">{{comment.text}}</p>
        <p style="position: absolute;top: 16px;right: 4px;">{{comment.created | timeAgo}}</p>
        <ion-option-button ng-if="User._id == s.user_id || comment.user_id == User._id" class="button-assertive"
                           ng-click="deleteComment(comment)">
          Xóa
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset message-footer modal-comment" keyboard-attach>
    <label class="item-input-wrapper">
      <textarea style="width: 100%" placeholder="Gửi bình luận..." required minlength="1" maxlength="1500" ng-model="viewComments.text" msd-elastic></textarea>
    </label>
    <div class="footer-btn-wrap">
      <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="viewComments.text.length == 0 || !viewComments.text" ng-click="commentStatus(s)">
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
