<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced" align-title="center">
    <button class="button button-clear item-button-left" ng-click="modal.hide()">Hủy</button>
    <h1 class="title">Chỉnh sửa</h1>
    <button class="button button-clear icon-right" ng-if="isChanged()" ng-click="updateStaus()">Cập nhật</button>

  </ion-header-bar>
  <ion-content scroll="false">
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Bạn đang nghĩ gì" ng-model="view.text" focus-me></textarea>
      </label>
    </div>
    <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-image">
            <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + view.image}}">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
