<div class="modal image-modal transparent" on-swipe-down="modalImageView.hide()">
  <ion-header-bar class="bar bar-header transparent" align-title="center">
    <h1 class="title"></h1>
    <button class="button button-clear item-button-right icon ion-ios-close-empty icon-left" style="color: white" ng-click="modalImageView.hide()"></button>
  </ion-header-bar>
  <ion-pane class="transparent" style="position: relative" on-double-tap="like(s)" view-tag-face>
    <img ng-src="{{Api.getServerUrl() + '/uploads/image-draft/' + imageSrc}}" class="fullscreen-image"/>
    <div class="box-image-face" ng-repeat="face in faces" ng-style="getStyle(face)" ng-if="viewImage.viewTag">
      <div>
        <span class="box-image-face-name" ng-if="face.faceName"> {{face.faceName}}
        </span>
      </div>
    </div>
  </ion-pane>
  <ion-footer-bar class="bar-stable transparent">
    <ul class="data-like-modal">
      <li ng-click="likeButton(s)" style="float:left">
        <i ng-if="isLike(s) == -1" class="icon ion-ios-heart" style="color: white"></i>
        <i ng-if="isLike(s) != -1" class="icon ion-ios-heart" style="color: red"> </i>
          <span ng-if="isLike(s) == -1 && s.likes.length > 0" style="color: white;font-size: 17px;"><b>{{s.likes.length}}</b></span>
          <span ng-if="isLike(s) != -1 && s.likes.length > 0" style="color: red;font-size: 17px;"><b>{{s.likes.length}}</b></span>
      </li>
      <li ng-click="comment(s)" style="float:left">
        <i class="icon ion-ios-chatbubble" style="color: white"> </i>
        <span ng-if="s.comments.length > 0" style="color: white;font-size: 17px;"><b>{{s.comments.length}}</b></span>
      </li>
      <li ng-click="toggleViewTag()" style="float:left" ng-if="s.faces">
        <i class="icon ion-pricetags" ng-if="viewImage.viewTag" style="color: #2E76E6"> </i>
        <i class="icon ion-pricetags" ng-if="!viewImage.viewTag" style="color: white"> </i>
      </li>
    </ul>
  </ion-footer-bar>
</div>
