.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.box-image-face {
  position: absolute;
  opacity: .75;
  border-radius: 2px;
  border: 3px solid white;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.box-image-face-name {
  border: 1px solid white;
  bottom: -42px;
  color: white;
  background-color: black;
  font-size: 15px;
  height: 30px;
  left: 50%;
  margin-left: -90px;
  outline: none;
  position: absolute;
  text-align: center;
  width: 180px;
}

.box-image-face .item-avatar {
  min-height: 10px;
}

.box-image-face img {
  margin-top: -20px;
  border-radius: 0%;
  margin-left: -15px;
}

.box-image-face .item h2 {
  margin-top: -10px;
  margin-left: -27px;
  color: white;
  font-weight: 500;
  /*border: 3px solid white;*/
}

.box-image-suggest-people .item {
  background-color: black;
}

.box-image-suggest-people {
  width: 180px;
  position: absolute;
  margin-top: 92px;
  left: 50%;
  margin-left: -90px;

}

ul.data-like-modal {
  height: 36px;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}

.data-like-modal li {
  font-size: 22px;
  width: auto;
  padding-top: 2px;
  padding-left: 13px;
  display: table-cell;
  text-align: center;

}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: 1;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
